In [1]:
import pandas as pd

# Finding Delaware codes

In [2]:
state = pd.read_csv('Data/GeoIDs - State.csv')

In [7]:
state.head()

   statefips   statename stateabbrev  state_pop2019
0          1     Alabama          AL        4903185
1          2      Alaska          AK         731545
2          4     Arizona          AZ        7278717
3          5    Arkansas          AR        3017804
4          6  California          CA       39512223

In [15]:
de = state[state['statename'] == 'Delaware']
de

   statefips statename stateabbrev  state_pop2019
7         10  Delaware          DE         973764

In [17]:
county = pd.read_csv('Data/GeoIDs - County.csv')
county.head()

,countyfips,countyname,cz,czname,statename,statefips,stateabbrev,county_pop2019
0,1001,Autauga,11101.0,Montgomery,Alabama,1,AL,55869
1,1003,Baldwin,11001.0,Mobile,Alabama,1,AL,223234
2,1005,Barbour,10301.0,Eufaula,Alabama,1,AL,24686
3,1007,Bibb,10801.0,Tuscaloosa,Alabama,1,AL,22394
4,1009,Blount,10700.0,Birmingham,Alabama,1,AL,57826

In [19]:
de_county = county[county['statename'] == 'Delaware']
de_county

,countyfips,countyname,cz,czname,statename,statefips,stateabbrev,county_pop2019
316,10001,Kent,19901.0,Dover,Delaware,10,DE,180786
317,10003,New Castle,19800.0,Wilmington,Delaware,10,DE,558753
318,10005,Sussex,19901.0,Dover,Delaware,10,DE,234225

# Filtering Delaware Data

In [20]:
cases_state = pd.read_csv('Data/COVID - State - Daily.csv')
cases_state.head()

,year,month,day,statefips,case_count,death_count,test_count,case_rate,death_rate,test_rate,new_case_rate,new_death_rate,new_test_rate,new_case_count,new_death_count,new_test_count
0,2020,1,21,1,0,0,.,0.0,0.0,.,.,.,.,.,.,.
1,2020,1,21,2,0,0,.,0.0,0.0,.,.,.,.,.,.,.
2,2020,1,21,4,0,0,.,0.0,0.0,.,.,.,.,.,.,.
3,2020,1,21,5,0,0,.,0.0,0.0,.,.,.,.,.,.,.
4,2020,1,21,6,0,0,.,0.0,0.0,.,.,.,.,.,.,.

In [22]:
de_cases = cases_state[cases_state['statefips']==10]
de_cases.head(20)

,year,month,day,statefips,case_count,death_count,test_count,case_rate,death_rate,test_rate,new_case_rate,new_death_rate,new_test_rate,new_case_count,new_death_count,new_test_count
7,2020,1,21,10,0,0,.,0.0,0.0,.,.,.,.,.,.,.
58,2020,1,22,10,0,0,.,0.0,0.0,.,.,.,.,.,.,.
109,2020,1,23,10,0,0,.,0.0,0.0,.,.,.,.,.,.,.
160,2020,1,24,10,0,0,.,0.0,0.0,.,.,.,.,.,.,.
211,2020,1,25,10,0,0,.,0.0,0.0,.,.,.,.,.,.,.
262,2020,1,26,10,0,0,.,0.0,0.0,.,.,.,.,.,.,.
313,2020,1,27,10,0,0,.,0.0,0.0,.,0,0,.,0,0,.
364,2020,1,28,10,0,0,.,0.0,0.0,.,0,0,.,0,0,.
415,2020,1,29,10,0,0,.,0.0,0.0,.,0,0,.,0,0,.
466,2020,1,30,10,0,0,.,0.0,0.0,.,0,0,.,0,0,.
517,2020,1,31,10,0,0,.,0.0,0.0,.,0,0,.,0,0,.
568,2020,2,1,10,0,0,.,0.0,0.0,.,0,0,.,0,0,.
619,2020,2,2,10,0,0,.,0.0,0.0,.,0,0,.,0,0,.
670,2020,2,3,10,0,0,.,0.0,0.0,.,0,0,.,0,0,.
721,2020,2,4,10,0,0,.,0.0,0.0,.,0,0,.,0,0,.
772,2020,2,5,10,0,0,.,0.0,0.0,.,0,0,.,0,0,.
823,2020,2,6,10,0,0,.,0.0,0.0,.,0,0,.,0,0,.
874,2020,2,7,10,0,0,.,0.0,0.0,.,0,0,.,0,0,.
925,2020,2,8,10,0,0,.,0.0,0.0,.,0,0,.,0,0,.
976,2020,2,9,10,0,0,.,0.0,0.0,.,0,0,.,0,0,.

In [23]:
cases_county = pd.read_csv('Data/COVID - County - Daily.csv')
cases_county.head()

/Users/amanda/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (4,5,6,7,8,9,10,11) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,year,month,day,countyfips,case_count,death_count,case_rate,death_rate,new_case_rate,new_death_rate,new_case_count,new_death_count
0,2020,1,21,1001,0,0,0,0,.,.,.,.
1,2020,1,21,1003,0,0,0,0,.,.,.,.
2,2020,1,21,1005,0,0,0,0,.,.,.,.
3,2020,1,21,1007,0,0,0,0,.,.,.,.
4,2020,1,21,1009,0,0,0,0,.,.,.,.

In [29]:
de_county_cases = cases_county[(cases_county['countyfips']  == 10001) | (cases_county['countyfips'] == 10003) | (cases_county['countyfips'] == 10005)]
de_county_cases.head()

,year,month,day,countyfips,case_count,death_count,case_rate,death_rate,new_case_rate,new_death_rate,new_case_count,new_death_count
316,2020,1,21,10001,0,0,0,0,.,.,.,.
317,2020,1,21,10003,0,0,0,0,.,.,.,.
318,2020,1,21,10005,0,0,0,0,.,.,.,.
3458,2020,1,22,10001,0,0,0,0,.,.,.,.
3459,2020,1,22,10003,0,0,0,0,.,.,.,.

In [30]:
bus = pd.read_csv('Data/Womply Merchants - State - Daily.csv')
bus.head()

,year,month,day,statefips,merchants_all,merchants_inchigh,merchants_inclow,merchants_incmiddle,merchants_ss40,merchants_ss60,merchants_ss65,merchants_ss70
0,2020,1,10,1,0.003740,0.010400,0.00676,-0.00139,0.00833,.021,-.0121,0.004170
1,2020,1,10,2,0.005870,-0.004040,0.06740,0.01140,0.03470,-.0473,-.0383,0.013100
2,2020,1,10,4,0.004780,0.013600,0.00211,0.00333,0.01720,.00266,.00805,0.001590
3,2020,1,10,5,-0.001860,-0.001460,-0.00463,0.00326,0.00162,-.0182,.0223,-0.018700
4,2020,1,10,6,0.000312,-0.000719,-0.00902,0.00426,0.00331,.00445,-.00253,0.000524

In [32]:
de_bus = bus[bus['statefips']==10]
de_bus.head(10)

,year,month,day,statefips,merchants_all,merchants_inchigh,merchants_inclow,merchants_incmiddle,merchants_ss40,merchants_ss60,merchants_ss65,merchants_ss70
7,2020,1,10,10,-0.006240,-0.00889,0.040100,-0.01000,-0.003320,-.0419,-.00869,0.009600
58,2020,1,11,10,-0.000398,-0.00202,0.027200,-0.00265,0.004390,-.0468,-.00212,0.011500
109,2020,1,12,10,-0.003980,0.00353,0.002060,-0.00605,0.000766,-.0279,.00386,0.004690
160,2020,1,13,10,0.006780,0.00068,0.013400,0.00749,0.008170,.00373,-.00173,0.015400
211,2020,1,14,10,0.010900,-0.00450,0.015000,0.01370,0.014400,-.0264,.00367,0.003780
262,2020,1,15,10,0.019000,-0.00535,0.028200,0.02330,0.020400,-.00427,.00212,0.008200
313,2020,1,16,10,0.011500,0.00953,0.000001,0.01330,0.016600,-.021,-.00448,0.010500
364,2020,1,17,10,0.010900,0.01950,-0.015300,0.01210,0.017400,-.0328,.00776,0.001360
415,2020,1,18,10,0.014100,0.02810,0.004670,0.01220,0.022100,-.0221,.00976,0.002090
466,2020,1,19,10,0.014000,0.03760,0.005760,0.00982,0.023100,-.0365,.00577,0.000712

In [33]:
bus_county = pd.read_csv('Data/Womply Merchants - County - Daily.csv')
bus_county.head()

   year  month  day  countyfips  merchants_all
0  2020      1   10        1003        0.02350
1  2020      1   10        1015       -0.02000
2  2020      1   10        1021        0.00726
3  2020      1   10        1031        0.03000
4  2020      1   10        1033       -0.02800

In [35]:
bus_county_de = bus_county[(bus_county['countyfips']  == 10001) | (bus_county['countyfips'] == 10003) | (bus_county['countyfips'] == 10005)]
bus_county_de.head()

      year  month  day  countyfips  merchants_all
140   2020      1   10       10001        0.00457
141   2020      1   10       10003       -0.00267
142   2020      1   10       10005       -0.02110
1316  2020      1   11       10001        0.02330
1317  2020      1   11       10003       -0.00415

In [36]:
bus_rev = pd.read_csv('Data/Womply Revenue - State - Daily.csv')
bus.head()

,year,month,day,statefips,merchants_all,merchants_inchigh,merchants_inclow,merchants_incmiddle,merchants_ss40,merchants_ss60,merchants_ss65,merchants_ss70
0,2020,1,10,1,0.003740,0.010400,0.00676,-0.00139,0.00833,.021,-.0121,0.004170
1,2020,1,10,2,0.005870,-0.004040,0.06740,0.01140,0.03470,-.0473,-.0383,0.013100
2,2020,1,10,4,0.004780,0.013600,0.00211,0.00333,0.01720,.00266,.00805,0.001590
3,2020,1,10,5,-0.001860,-0.001460,-0.00463,0.00326,0.00162,-.0182,.0223,-0.018700
4,2020,1,10,6,0.000312,-0.000719,-0.00902,0.00426,0.00331,.00445,-.00253,0.000524

In [37]:
de_bus_rev = bus_rev[bus_rev['statefips']==10]
de_bus_rev.head(10)

,year,month,day,statefips,revenue_all,revenue_inchigh,revenue_inclow,revenue_incmiddle,revenue_ss40,revenue_ss60,revenue_ss65,revenue_ss70
7,2020,1,10,10,-0.0709,-0.01700,0.15100,-0.1060,-0.06130,-.246,.0264,-0.033000
58,2020,1,11,10,-0.0407,0.00444,0.10400,-0.0669,-0.02410,-.237,.0579,-0.017600
109,2020,1,12,10,-0.0278,0.00487,0.07890,-0.0477,-0.03440,-.194,.0677,-0.004320
160,2020,1,13,10,-0.0250,0.02330,0.05910,-0.0451,-0.03440,-.203,.0285,0.032800
211,2020,1,14,10,-0.0114,0.04620,0.01250,-0.0265,-0.01940,-.175,.0576,0.025400
262,2020,1,15,10,0.0502,0.03950,0.02430,0.0562,0.00422,.0713,.0396,0.032700
313,2020,1,16,10,0.0441,0.03450,0.00104,0.0524,-0.00234,.114,.0103,0.028400
364,2020,1,17,10,0.0195,0.03720,-0.03920,0.0247,0.01060,-.0087,-.0338,0.021400
415,2020,1,18,10,0.0186,0.01660,-0.01170,0.0236,0.00949,-.00811,.0228,-0.005810
466,2020,1,19,10,0.0130,0.01560,-0.02490,0.0183,0.01270,-.0181,-.00794,0.000526

In [40]:
bus_county_rev = pd.read_csv('Data/Womply Revenue - County - Daily.csv')
bus_county_rev.head()

   year  month  day  countyfips  revenue_all
0  2020      1   10        1003      0.04890
1  2020      1   10        1015      0.03970
2  2020      1   10        1021      0.09660
3  2020      1   10        1031     -0.00206
4  2020      1   10        1033     -0.04030

In [41]:
bus_county_rev_de = bus_county_rev[(bus_county_rev['countyfips']  == 10001) | (bus_county['countyfips'] == 10003) | (bus_county['countyfips'] == 10005)]
bus_county_rev_de.head()

      year  month  day  countyfips  revenue_all
140   2020      1   10       10001    -0.024100
141   2020      1   10       10003    -0.084900
142   2020      1   10       10005    -0.062300
1316  2020      1   11       10001    -0.000994
1317  2020      1   11       10003    -0.074400